@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

.banner {
  height: 100vh;
  background-image: url('../../assets/main-image.jpg');
  background-position: center;
  background-size: cover;
}

main {
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 100px;
}

span {
  color: #f5592a;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1536px) {
  h1 {
    font-size: 5rem;
  }
}
